body {
  background-color: black;
}

.round {
  border-radius: 50%;
}

.rounded {
  border-radius: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.row img {
  width: 64px;
}