include ../includes/header.pug
body
  style
    include ../css/dashboard/show.css
  include ../includes/navbar.pug
  .container.jumbotron.text-center.bg-transparent
    h1.display-3 Hey, #{user.username}
    hr
    p.lead Pick a server
    p= JSON.stringify(guild)
    p= JSON.stringify(savedGuild)