section#autoMod
  .form-group.mt-5
    //- .row
    //-   .col-4
    //-     label Filters
    //-     select.form-control
    //-       option Bad Words
    //-       option Bad Links
    //-       option All Caps
    //-       option Mention Spam
    p Nothing here yet...