form(action='/servers/' + guild.id + '/economy?_method=PUT', method="POST")
  section#economy
    .form-group.mt-5
      p Nothing here yet...
    .d-flex.justify-content-center
      button.btn.btn-primary
        i.fas.fa-rocket
        span.ml-1 Submit