nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') 1PG
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      a.nav-link(href='/commands') Commands
    .navbar-nav.ml-auto
      a.nav-link(href='/login') Login