include includes/header.pug
body
  style
    include css/commands.css
  include includes/navbar.pug
  .container.jumbotron.pb-0.bg-transparent
    h1.display-3 Commands
    p.lead Find 1PG's wide range of commands
    hr
  .container
    .row
      .col-sm-3
        ul.list-group.categories
          each mod in modules
            li.list-group-item.my-1.border.border-light.rounded.cursor-pointer(onclick="setCategory('" + mod.name + "')")
              i.fas.mr-1(class=mod.icon)
              span #{utils.camelToSentenceCase(mod.name)}
      .col-sm-9
        ul.list-group.commands
          each command in commands
            li.list-group-item.my-1.border.border-light.rounded.cursor-pointer(class=command.moduleName)= command.name
  script
    include js/commands.js