include includes/header.pug
body
  style
    include css/home.css
  include includes/navbar.pug
  .jumbotron.text-center.bg-transparent
    h1.display-3 1PG
    p.lead The best bot in the known universe and the milky way.
      i.fas.fa-star.ml-2
    a.btn.btn-dark.text-light(href="/invite") Add