include includes/header.pug
body
  include includes/navbar.pug
  .jumbotron.text-center.bg-light
    h1.display-3 1PG
    p.lead The best bot in the known universe and milky way.
    button.btn.btn-dark Add
