doctype
html(lang='en')
  head
    include includes/header.pug

    link(rel='stylesheet', href='/css/index.css')
  body
    include includes/navbar.pug
    .jumbotron.text-center.bg-transparent
      h1.display-3 ElectroBot
      p.lead بوت عربي متميز باوامر عديدة ولوحة تحكم متكاملة.
        i.fas.fa-star.pl-2
      a.btn.btn-dark(href='/invite') Invite Bot
